* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body { 
    background-color: rgb(15, 15, 15);
}
main {
    max-width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px; 
    text-align: center;
}
h1 { 
    text-align:center ;
    color: aliceblue;
}
p { 
    color: aliceblue;
    margin-top: 15px;
    max-width: 70%;
    display: inline-block;
}
img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
h2 { 
    color: aliceblue;
    margin-top: 25px;
}