* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body { 
    background-color: rgb(15, 15, 15);
}
main {
    max-width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

    text-align: center;
}
h1 { 
    text-align:center ;
    color: aliceblue;
}
p {
    color: aliceblue;
    margin-top: 15px;
    max-width: 70%;
    display: inline-block;

}
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
h2 { 
    color: aliceblue;
    margin-top: 25px;
}
.flow {
    margin-top: 50px;
    margin-bottom: 50px
    text-align: center;
}
p2 {
    color: aliceblue;
    max-width: 70%;
    display: inline-block;
}