
* {
  max-width: 700px;
  margin: auto;
}



/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
}


#title {
  margin-left: 3%;
}


h1 {
  text-align: center;
}

.head {
   font-size: 18px;
  font-weight: bold;
  color: blue;
}

p,
li {
  font-family: 'Cormorant Garamond';
}
.location {
  font-weight: bold;
  font-size: 16px;
}
.time {
  font-weight: bold;
  font-size: 17px;
  position: relative;
  left: 50%
}
.title {
  font-style: italic;
}
.timeagain {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 28%
}
img {
  width: 100%;
}
